*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    block-size: 100vh;
    inline-size: 100vw;
    background-image: linear-gradient(337deg, #858585,#f6cc6b);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica,sans-serif;

}



.box
{
    block-size: 90%;
    inline-size: 90%;
    
    background-color: #05050675;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


h1
{
    inline-size: 90%;
    font-size: 1.6em;
    text-align: center;
    color: white;
}

p:first-of-type
{
    inline-size: 90%;
    font-size: 1em;
    line-height: 18px;
    color: #ffffffc9;
}

span
{
    color: #ffdb6e;
}


p:nth-of-type(2)
{
    inline-size: 90%;
    padding-top: 10px;
    text-align: start;
    color: white;
}

p:nth-of-type(3)
{
    block-size: 40px;
    inline-size: 90%;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding-top: 10px;
    font-size: 1em;
}

.good
{
    color: green;
}

.bad
{
    color: red;
}

p.hidden
{

    visibility: hidden;
}

.form
{
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form input[type="text"]
{
    block-size: 50px;
    inline-size: 80%;
    margin-block-end: 10px;
    outline: none;
    border: none;
    background-color: #0000;
    border-bottom: 3px solid #ffffff;
    color: white;
    text-align: center;
    font-size: 0.8em;
    line-height: 1px;
}

button
{
    block-size: 50px;
    inline-size: 80%;
    border: 3px solid white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.116);
    color: white;
    cursor: pointer;
}

input::placeholder
{
    color: rgba(255, 255, 255, 0.555);
    text-align: center;
    font-size: medium;
}
